.App {
  background-color: #fafafa;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 10.625rem;
  border: 1px skyblue solid;
  font-size: calc(10px + 2vmin);
  color: black;
}

/* Navbar */

.navContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.leftNavContent {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}

.booksStoreLogo {
  color: #0079FE;
}

.booksStoreLogo, 
.navLinks {
  margin-right: 3rem;
}

.navLinks {
  font-size: 1rem;
  color: #464141;
}

.navLinks a {
  text-decoration: none;
  color: rgb(43, 40, 40);
}

.profileIcon {
  width: 3rem;
  height: 3rem;
}

/* booksPage */

.booksPageInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid skyblue;
}

.bookStatus {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}






